.product-card__name::before {
  display: inline-block;
  content: '';
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.product-card__name--available::before {
  background-color: green;
}

.product-card__name--unavailable::before {
  background-color: red;
}

.box {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: blue;
  align-items: center;
  justify-content: center;
}

.box--active {
  background-color: teal;
}

.inner-box {
  width: 60px;
  height: 60px;
  background-color: yellow;
}
